$body-background: rgb(192, 192, 192);

body{
    background-color: $body-background;
}
.article{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text{
        width: 100px;
        height: 100px;
        background-color: blue;
    }
}